@import '../common/theme.scss';

.user-information {
  visibility: visible;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  color: map-get($colors , light);

  &__heading{
    font-size: 1rem;
  }

  &__icon {
    height: 5rem;
    width: 5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 22rem;
    width: 18rem;

    &__mobile {
      display: flex;
      justify-content: space-between;

      &__contry-code {
        width: 30%;
      }

      &__number {
        width: 63%;
      }

      &__error-text {
        color: map-get($colors, error);
      }
    }
  }
}
