$colors: (
  dark-background:#121212,
  dark: #333333,
  error: #cc0000,
  light-gray: #A9A9A9,
  light: #fff,
  primary: #397D02
);

$background-gradient: linear-gradient(147deg, #000000 0%, #434343 74%);
